alabaster==0.7.12
attrs==20.3.0
Babel==2.9.0
certifi==2020.11.8
chardet==3.0.4
docutils==0.16
fastavro==1.1.1
idna==2.10
imagesize==1.2.0
iniconfig==1.1.1
Jinja2==2.11.2
MarkupSafe==1.1.1
nose==1.3.7
numpy==1.19.4
packaging==20.4
pandas==1.1.4
pluggy==0.13.1
py==1.9.0
pyasn==1.6.1
Pygments==2.7.2
pyparsing==2.4.7
pytest==6.1.2
python-dateutil==2.8.1
pytz==2020.4
requests==2.25.0
scipy==1.5.4
six==1.15.0
snowballstemmer==2.0.0
Sphinx==3.3.1
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
tabulate==0.8.7
toml==0.10.2
urllib3==1.26.2
